* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: #D6e3ed;
    color: #f37020;
    height: 40px;
    
}

header:hover {
    background-color: #f37020;
    color: #D6e3ed;
}

header:hover * {
    color: #D6e3ed;
}

header a {
    color: #f37020;
}

h1 {
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
    cursor: default;
}

.flex-group {
    display: flex;
}

li {
    list-style: none;
    padding: 0 10px;
}

a {
    display: block;
    cursor: pointer;
    text-decoration: none;
}

section {
    padding: 60px 24px 0 24px;
}

h2 {
    margin-bottom: 16px;
}

.greeting-text {
    font-size: 40px;
    font-weight: 400;
    color: #ed1f26;
    letter-spacing: 2px;
    line-height: 1.25;
    margin: 30px 0 60px 0;
}

.group {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.item {
    flex: 1;
    margin-bottom: 60px;
}

p {
    margin-bottom: 16px;
}

#portfolio img {
    margin-bottom: 24px;
    width: 100%;
}

h3 {
    font-size: 20px;
    margin-bottom: 16px;
}

.container {
    display: flex;
}

.sub-item {
    flex: 1;
}

.sub-item-right {
    text-align: right;
}

.sub-item-left {
    text-align: left;
}

#portfolio a {
    color: #D6e3ed;
    margin-bottom: 10px;
}

#portfolio a:hover {
    color: white;
}

#contact a {
    color: #f05e81;
}

#contact .item {
    margin-bottom: 16px;
}

#contact .group {
    padding-bottom: 44px;
}

#contact a:hover {
    color: #f37020;
}

form {
    margin-bottom: 60px;
}

input {
    width: 100%;
    height: 30px;
    border: none;
    margin: 5px 0 15px 0;
    padding-left: 5px;
}

label {
    display: block;
    color: #f05e81;
    
}

textarea {
    width: 100%;
    min-width: 100%;
    min-height: 200px;
    border: none;
    margin: 5px 0 15px 0;
    padding: 5px;
}

button {
    border: none;
    color: white;
    background-color: #f05e81;
    padding: 5px;
}

.pink-text {
    color: #f05e81;
}

.orange-text {
    color: #f37020;
}

.red-text {
    color: #ed1f26;
}

.orange-background {
    background-color: #f37020;
    color: white;
}

.blue-background {
    background-color: #D6e3ed;
}

.pink-background {
    background-color: #f05e81;
    color: #D6e3ed;
}

@media all and (min-width: 800px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
    }

    ul {
        padding-right: 50px;
    }

    h1 {
        padding-left: 200px;
    }

    section {
        padding: 60px 200px 0 200px;
    }

    .portfolio-container {
        display: flex;
        padding-right: 10px;
        flex: 1;
    }

    #contact .group {
        flex-direction: row;
        text-align: center;
    }

    .column-left {
        padding-right: 30px;
    }

    .column-right {
        padding-left: 30px;
    }

    .item-left {
        text-align: left;
    }

    .item-right {
        text-align: right;
    }
    
}

